.context-menu {
    position: fixed;
    background-color: black;
    z-index: 9999;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.context-menu-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #1f1f1f;
}